@import url("https://development-rapidui.netlify.app/css/components.css");
@import url("https://use.typekit.net/zih5skt.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.view-container {
  margin-top: 4.875em;
}

button {
  cursor: pointer;
}

.p-10 {
  padding-top: 10rem;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .view-container {
    margin-top: 3.5em;
    margin-bottom: 4em;
  }

  .input-basic {
    width: 75%;
  }
}
